.main-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  background-color: #f5d0fe;
  height: 100vh;
}
.card-container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}
.button {
  background-color: #d946ef;
  padding:5px;
  margin:3px;
  border-color: none;
  border-width: 0;
  border-radius: 7px;
}
